* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f7f9fc;
}

.toggle-btn {
    position: absolute;
    top: 20px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100; 
}

.sidebar {
    background-color: #d7e6b0;
    width: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, width 0.3s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transform: translateX(0); 
}

.menu-toggle:checked ~ .sidebar {
    width: 50px; /* Reducir el ancho del menú */
    transform: translateX(0); 
}

.menu-toggle:checked ~ .sidebar nav ul li a span {
    display: none;
}

.menu-toggle:checked ~ .sidebar nav ul li a img.nav-icon {
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.logo img {
    width: 150px;
    margin-top: 50px; 
}

.menu-toggle:checked ~ .sidebar .logo img {
    display: none; 
}


nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%; 
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 10px; 
}

nav ul li a:hover {
    background-color: #c9ddb1;
    border-radius: 10px;
}

nav ul li a img.nav-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}


.logout {
    background-color: #a4c639;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
}

.logout:hover {
    background-color: #8fb52b;
}


.menu-toggle:checked ~ .sidebar .logout {
    width: 40px; 
    padding: 10px;
}


.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #f7f9fc;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}


.menu-toggle:checked ~ .main-content {
    margin-left: 50px; 
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    height: auto;
}


.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filter {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    width: 200px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.filter:focus {
    border-color: #7fbcff;
}

.title {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.reto-card {
    background-color: #e2f1c5;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.reto-card:hover {
    transform: scale(1.05);
}

.reto-content {
    background-color: #f1f1f1;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.reto-options {
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.reto-options:focus {
    outline: none;
    border-color: #7fbcff;
}
