<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS RETOS</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/css/crearIdeaoCrearReto.css">
</head>
<body>
    <input type="checkbox" id="menuToggle" class="menu-toggle">

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <img src="/src/main/resources/static/images/imagix.png" alt="Imagix Logo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="usuario.html">
                        <img src="/src/main/resources/static/images/usuario.png" alt="Usuario Imagen" class="nav-icon">
                        <span class="link-text">Perfil</span>
                    </a>
                </li>
            </ul>
        </nav>
        <button class="logout">
            <img src="/src/main/resources/static/images/boton-de-encendido-apagado.png" alt="Icono Cerrar Sesión" class="logout-icon">
            <span class="logout-text">Cerrar Sesión</span>
        </button>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <label for="menuToggle" class="toggle-btn">
            <img src="/src/main/resources/static/images/menu.png" alt="Menu Icon" class="menu-icon">
        </label>

        <!-- Pregunta y opciones -->
        <div class="content">
            <h2 class="question">¿Qué vas a hacer hoy?</h2>

            <div class="options-container">
                <a href="crearIdea.html" class="action-link">
                    <button class="action-button">Crear idea</button>
                </a>
                <a href="crearReto.html" class="action-link">
                    <button class="action-button">Crear reto</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
