<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imagix</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/images/logoImagix.png" alt="Imagix Logo" />
      </div>
      <nav>
        <ul>
          <li><a href="#Acerca">¿Qué es?</a></li>
          <li><a href="#Surgio">¿Cómo surgió?</a></li>
          <li><a href="#Espera">¿Qué se espera?</a></li>
        </ul>
      </nav>
      <div class="login">
        <a href="login"> <button>Iniciar Sesión</button></a>
      </div>
    </header>

    <section class="main">
      <div class="Secciones">
        <div class="Seccion-Verde" id="Acerca">
          <img src="../images/amigos.png" alt="Amigos" />
          <div class="texto">
            <h2>Acerca del proyecto</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>

      <div class="Secciones">
        <div class="Seccion-Morada" id="Surgio">
          <div class="texto">
            <h2>¿Cómo surgió?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <img src="../images/amigos.png" alt="Amigos" />
        </div>
      </div>

      <div class="Secciones">
        <div class="Seccion-Rosa" id="Espera">
          <img src="../images/amigos.png" alt="Amigos" />
          <div class="texto">
            <h2>¿Qué se espera del proyecto?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div id="contact">
        <p>Tel. 3002223344</p>
        <p>Correo: imagix@gruponutresa.co</p>
      </div>
      <div class="logo-footer">
        <img src="../images/logoImagix.png" alt="Imagix Logo" />
      </div>
    </footer>
  </body>
</html>
