<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Proponentes</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/css/ingresarProponentes.css">
</head>
<body>
    <input type="checkbox" id="menuToggle" class="menu-toggle">

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="logo">
            
        </div>
        <nav>
            <ul>
                <li>
                    <a href="retosEmpleado.html">
                        <img src="/src/main/resources/static/images/usuario.png" alt="Perfil Imagen" class="nav-icon">
                        <span class="link-text">Perfil</span>
                    </a>
                </li>
            </ul>
        </nav>
        <button class="logout">
            <img src="/src/main/resources/static/images/boton-de-encendido-apagado.png" alt="Icono Cerrar Sesión" class="logout-icon">
            <span class="logout-text">Cerrar Sesión</span>
        </button>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <label for="menuToggle" class="toggle-btn">
            <img src="/src/main/resources/static/images/menu.png" alt="Menu Icon" class="menu-icon">
        </label>

        <div class="content">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar proponente">
                <button class="search-button">
                    <img src="/src/main/resources/static/images/search.png" alt="Search Icon">
                </button>
            </div>

            <div class="card">
                <h2 class="card-title">Ingresa los proponentes</h2>
                <div class="input-container">
                    <input type="text" placeholder="Nombre del proponente..." class="input-field">
                    <button class="add-proponent-button">Añadir más proponentes +</button>

                </div>
                <div class="user-icon">
                    <img src="/src/main/resources/static/images/cuaderno-cerrado-y-boligrafo.png" alt="User Icon">
                </div>

                <a href="descripcionProblema.html" class="confirm-button">
                    Confirmar
                </a>
            </div>
        </div>
    </div>
</body>
</html>
