<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS SOLUCIONES</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/css/solucionEmpleado.css">
</head>
<body>
    <input type="checkbox" id="menuToggle" class="menu-toggle">

    <div class="sidebar" id="sidebar">
        <div class="logo">
            
        </div>
        <nav>
            <ul>
                <li>
                    <a href="retosEmpleado.html">
                        <img src="/src/main/resources/static/images/retos.png" alt="Reto Imagen" class="nav-icon">
                        <span class="link-text">Retos</span>
                    </a>
                </li>
                <li>
                    <a href="solucionEmpleado.html"> 
                        <img src="/src/main/resources/static/images/solucion.png" alt="Soluciones Imagen" class="nav-icon">
                        <span class="link-text">Soluciones</span>
                    </a>
                </li>
            </ul>
        </nav>
        <button class="logout">
            <img src="/src/main/resources/static/images/boton-de-encendido-apagado.png" alt="Icono Cerrar Sesión" class="logout-icon">
            <span class="logout-text">Cerrar Sesión</span>
        </button>
    </div>

    <div class="main-content">
        <label for="menuToggle" class="toggle-btn">
            <img src="/src/main/resources/static/images/menu.png" alt="Menu Icon" class="menu-icon">
        </label>
        <div class="header">
            <select class="filter">
                <option value="">FILTRO</option>
                <option value="reto1">Solucion 1</option>
                <option value="reto2">Solucion 2</option>
            </select>
        </div>

        <h1 class="title">¡MIS SOLUCIONES!</h1>

        <div class="grid-container">
            <div class="reto-card">
                <h2 class="reto-title">Solución 1</h2>
                <div class="reto-content">
                    <p><strong>Descripción:</strong> Esta solución mejora la eficiencia del proceso de producción.</p>
                    <p><strong>Reto Solucionado:</strong> Reto 34812</p>
                </div>
            </div>
            <div class="reto-card">
                <h2 class="reto-title">Solución 2</h2>
                <div class="reto-content">
                    <p><strong>Descripción:</strong> Solución para reducir costos en la cadena de suministro.</p>
                    <p><strong>Reto Solucionado:</strong> RReto 43</p>
                </div>
            </div>
            <div class="reto-card">
                <h2 class="reto-title">Solución 3</h2>
                <div class="reto-content">
                    <p><strong>Descripción:</strong> Implementación de un nuevo sistema de marketing digital.</p>
                    <p><strong>Reto Solucionado:</strong> Reto 5</p>
                </div>
            </div>
            <div class="reto-card">
                <h2 class="reto-title">Solución 4</h2>
                <div class="reto-content">
                    <p><strong>Descripción:</strong> Automación del proceso de control de calidad.</p>
                    <p><strong>Reto Solucionado:</strong>Reto 3.</p>
                </div>
            </div>
            <div class="reto-card">
                <h2 class="reto-title">Solución 5</h2>
                <div class="reto-content">
                    <p><strong>Descripción:</strong> Desarrollo de un nuevo producto innovador.</p>
                    <p><strong>Reto Solucionado:</strong>Reto 1</p>
                </div>
            </div>
            <div class="reto-card">
                <h2 class="reto-title">Solución 6</h2>
                <div class="reto-content">
                    <p><strong>Descripción:</strong> Mejora en el servicio al cliente mediante chatbots.</p>
                    <p><strong>Reto Solucionado:</strong> Reto 1</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
